* {
  box-sizing: border-box;
}

body {
  margin: 0;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20vw;
  position: sticky;
  top: 0;
}

h2 {
  margin: 0;
}

.links {
  align-items: center;
}

.btn-theme {
  border: none;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover{
  color: rgb(136, 136, 136);
} 

main {
  flex: 1;
}



/* <------ */ /* HOME */ /* ------> */

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 80vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* <------ */ /* CARD */ /* ------> */

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card img{
  width: 100%;
}

.card a{
  font-weight: 700;
}

.card h3{
  text-align: center;
}

/* <------ */ /* DETAILS */ /* ------> */

.detail-container{
  display: flex;  
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);  
  justify-content:center;  
  width: 25vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.detail-container img{
  width: 100%;
}
.detail-container h3{
  text-align: center;
}



/* <------ */ /* CONTACT */ /* ------> */

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

/* <------ */ /* FOOTER */ /* ------> */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}

footer > img{
  width: 200px;
  margin: 0 ;
}
footer button{
  background-color: red;
  color: white;
  border: none;
  height: 2rem;
  margin-top:20px;
}

footer button:hover{
  background-color: rgb(235, 31, 31);
}

footer > div{
  display: flex;
  justify-content: space-between;
  padding: 0 20vw;
}

.social-media{
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  gap: 8px;
}

/* <------ */ /* DARKMODE */ /* ------> */

.dark nav {
  background-color: #282727;
}

.dark {
  background-color: #525252;
  color: white;
}

.dark a,
.dark button {
  color: white;
}

.dark .card {
  background-color: #525252;
  border: none;
  box-shadow: none;
  border: 0.5px solid white;
}

.dark footer {
  background-color: #282727;
}